/.env
/src/_build
/src/db
/src/deps
/src/*.ez
/src/.elixir_ls
/src/erl_crash.dump
/src/*npm-debug.log
/src/apps/*/cover
/src/apps/*/assets/node_modules
/src/apps/*/priv/static/
/src/apps/*/priv/cert/
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.log
*.sql
*.sqlite
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
tags
